.admin-container {
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    .error-message {
      color: red;
    }
    .form-control {
      margin-bottom: 10px;
    }
  }
  .button-row {
    button {
      margin: 20px auto;
    }
  }
}

.admin-table-container {
  padding: 20px;
  font-size: 14px;
  .action-button {
    margin: 5px;
  }
}
.new-pet-form {
  .input-container {
    width: 100%;
    margin: 10px 0;
  }
  .label-text {
    width: 75px;
  }
  .image-preview {
    margin: 10px;
    &.hidden {
      opacity: 0;
    }
  }
}
.new-event-form {
  display: flex;
  justify-content: center;
  .label-text {
    margin-top: 10px;
  }
  button {
    margin: 20px auto;
  }
}

.new-blog-form {
  display: flex;
  justify-content: center;
  .label-text {
    margin-top: 10px;
  }
  .button-row {
    button {
      margin: 20px auto;
    }
  }
  .public-DraftEditor-content {
    min-height: 200px;
  }
  .file-upload-text {
    margin: 20px 30px 10px;
  }
  .blog-image-preview {
    width: 200px;
    margin: 10px 30px;
  }
  .blog-image-uploader {
    margin: 10px 30px;
    color: white;
  }
}

.modal-dialog {
  max-width: 50vw !important;
}

.admin-modal {
  input, textarea {
    width: 100%;
  }
  textarea {
    height: 75px;
  }
}

@media (max-width: $screen-xs-max) {
  .admin-container {
    display: none;
  }
}
