.adopt-container {
  display: flex;
  padding-top: 80px;
  flex-wrap: wrap;

  .pets-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;

    .pet-card-container {
      margin-bottom: 30px;
    }
    .pet-card {
      &:hover {
        cursor: pointer;
        box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
        opacity: 0.3;
      }
    }
    .card-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      border-radius: 0.25rem;
      color: white;
      background-color: rgba(0,0,0, 0.4);
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 30px;
      font-size: 24px;
      &:hover {
        opacity: 1;
      }
    }
  }

  .loading-spinner {
    margin: 30px auto;
  }
}

.pet-card {
  .card-header {
    padding: 6px 10px 8px;
    display: flex;
    justify-content: center;
  }
  .card-body {
    padding: 0px;
  }

  .pet-card-image-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
  }
  .pet-card-image {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    object-fit: cover;
  }

  p {
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: .8rem
  }
}

.pet-info-modal {
  .pet-card {
    p {
      font-size: 1rem;
    }
    .pet-card-image-container {
      margin: 10px auto;
      height: 400px;
      width: 400px;
      padding-bottom: 0;
    }

    .label {
      font-weight: 600;
    }
    .info-item {
      margin-left: 5px;
      font-weight: 400;
    }
    .info-string {
      text-align: center;
      font-weight: 700;
      margin: 10px 0;
      padding-bottom: 10px;
      padding-top: 10px;
      background-color: $backgroundGrey;
    }
  }
  .info-container {
    width: 400px;
    margin: 10px auto;
  }
  .modal-dialog {
    max-width: 40vw !important;
  }
}

@media (max-width: $screen-xs-max) {
  .pet-info-modal {
    .modal-dialog {
      max-width: 85vw !important;
    }
    .pet-card {
      .pet-card-image-container {
        width: 90%;
        height: 60vw;
      }
    }
    .info-container {
      width: 90%;
      margin: 0 auto;
    }
  }
  .adopt-container {
    .pets-intro {
      margin-bottom: 25px;
      text-align: center;
    }
  }
}
