.blog-page-content {
  display: flex;
}

.event-display-container {
  .event-date {
    font-weight: 700;
  }
  .card-header {
    display: flex;
    flex-direction: column;
    &:hover {
      cursor: pointer;
    }
  }
}
