.donate-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h4 {
    width: 100%;
    text-align: center;
  }
  .tux {
    margin: 20px auto 30px;
  }

  .story-row {
    margin-top: 30px;
  }
  .donate-intro {
    margin: 0 30px;
    text-align: center;
  }

  p {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 0.5rem;
  }

  .donation-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 10% 30px;
  }

  .currency-form {
    max-width: 150px;
  }
  .donate-form-container {
    background-color: $backgroundGrey;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .paypal-button {
      margin-top: 20px;
    }
    .heading-label {
      margin-top: 5px;
      margin-bottom: 15px;
      font-weight: 600;
    }
    .form-group, form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .donate-container {
    img {
      max-width: 80vw;
    }
  }
}
