.home-container {
  text-align: center;
  display: flex;

  .home-row {
    display: flex;
    justify-content: center;
  }
  img {
    max-width: 80%;
    margin: 30px 0;
  }
  .home-header {
    margin-bottom: 20px;
  }
  .home-text {
    margin: 0 50px;
  }
}
