.app {
  background-image: url('../static/background.png');
  min-height: 100vh;
}

.header {
  border-bottom: 1px solid #c9c9c9;
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  .nav-link {
    padding: 8px 15px !important;
  }
}

.footer {
  border-top: 1px solid #c9c9c9;
  padding-top: 0;
  padding-bottom: 0;
  .navbar-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .facebook-button {
    margin-left: 80px;
  }
  .footer-text {
    padding: 0 15px;
    font-size: .9rem;
  }
}

@media (max-width: $screen-xs-max) {
  .footer {
    .facebook-button {
      margin: 10px 0;
    }
  }
}


.container {
  background-color: #fcfcfc;
  margin-top: 50px;
  min-height: 100vh;
  padding: 50px 200px;
}
